.topmenu {
  list-style: none;
  transition: all 0.3s ease-in-out;
}
.DropDownTitle {
  padding: 16px 24px;
  border-bottom: 1px solid #d3dce6;
  position: relative;
  font-weight: 500;
  color: #25265e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.show-accrodian {
  background-color: grey;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #d3dce6;
  padding: 12px 0;
  max-height: 500px;
  display: block !important;
  transition: all 0.3s ease-in-out;
}
.show-accrodia {
  display: none;
  transition: all 0.2s ease-out-in;
}
.topmenu li > ul {
}
ul .show-accordion {
  border-bottom: 1px solid #d3dce6;
  padding: 12px 0;
  max-height: 500px;
  display: block !important;
  transition: all 0.3s ease-in-out;
}
